<form action= "/payment/results">
<div>
<label for="apr">APR</label>
<input type="text" id="apr" name="apr" placeholder="E.g. 5.5">
</div>

<div>
<label for="year">Number of years</label>
<input type="text" id="year" name="year" placeholder="How many years to repay?">
</div>

<div>
<label for="principal">Principal</label>
<input type="text" id="principal" name="principal" placeholder="How much principal?">
</div>

<button>Calculate monthly payment</button>
</form>
