<form action = "/random/results">

<div>
<label for="min_input">Minimum</label>
<input type="text" id="min_input" placeholder="E.g. 1.5" name="minimum" >
</div>

<div>
<label for="max_input">Maximum</label>
<input type="text" id="max_input" placeholder="E.g. 4.5" name="maximum" >
</div>

<div>
<button>Pick random number</button>
</div>

</form>
