<form action= "/square_root/results">

<div>

<label for="input_number">Enter a number</label>

</div>

<div>

<input id="input_number" type="text" placeholder="What number do you want to square?" name="input_number">
</div>

<div>

<button>Calculate square</button>

</div>

</form>
