<form action= "/square/results">

<div>

<label for="squared">Enter a number</label>

</div>

<div>

<input id="squared" type="text" placeholder="What number do you want to square?" name="squared">
</div>

<div>

<button>Calculate square</button>

</div>

</form>
